body{
    width: 80%;
    background-color: rgb(179, 233, 240);
    margin: 0 auto;
    background: url(fondo.jpg);
    
}

.principal {
margin: 0 auto;
width: 80%;
height: 90%;
border: solid black 1px;
background-color: rgb(77, 136, 204);


}


#cabecera{
    text-align: center;
    margin: 0 auto;
    background-color: rgb(36, 52, 197);
}

h1{
    color:#ffffff;
}
h3{
    text-align: center;
    color:#ffffff;
}
#textarea1{
       
        margin-left: 15%;
        overflow: auto;
        resize: none;
        white-space: nowrap
      
}

#textarea2{
    width: 700px;
    height: 750px;
    margin-left: 15%;
    width: 65%;
    height: 20%;
    overflow: scroll;
    resize: none;
    white-space: nowrap
  
}
#boton1{
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
    

    
}

#boton2{
    margin-left: 15%;
    
}

#boton3{
width: px;
color:#ffffff;
   
}